#companions {
  padding-bottom: 40px;

  .my-companions-guide {
    margin: 40px 0;

    p {
      margin: 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -1.14px;
      color: $BLACK;
    }
  }

  .companion-card {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}