#registration_phone {
  .registration-header {
    padding: 30px 0;

    h2 {
      font-size: 17px;
      line-height: 1.41;
      letter-spacing: -1.14px;
      text-align: center;
      color: $BLACK;
    }
  }

  .fill-input {
    margin-bottom: 6px;
  }
}