#registration_complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .complete-guide {
    text-align: center;

    .complete-image {
      width: 90px;
      margin: 0 auto 16px;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.45;
      letter-spacing: -1.43px;
      color: #555555;
    }

    p {
      @include text;

      margin-top: 0;
      margin-bottom: 30px;
      white-space: nowrap;
    }
  }

  .outlined-button {
    width: 182px;
  }
}