.companion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid $BORDER;
  padding-top: 22px;
  padding-bottom: 26px;
  border-radius: 8px;
  text-align: center;
  background-color: $WHITE;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);

  .companion-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 12px;
    background-color: $YELLOW;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }

  .companion-name {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.34px;
  }

  .companion-info {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    color: $SECONDARY;
  }
}