input,
textarea {
  font-family: $NOTO;
  -webkit-appearance: none;
  appearance: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

.fill-input {
  @include text;

  display: block;
  width: 100%;
  height: 46px;
  padding: 0 20px;
  border: 0;
  border-radius: 80px;
  background-color: $BACKGROUND;
  color: $BLACK;
  letter-spacing: -0.01em;

  &::placeholder {
    color: $SECONDARY;
  }
}

.outlined-input {
  @include text;

  display: block;
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border: 1px solid $BORDER;
  border-radius: 8px;
  background-color: $WHITE;
  color: $BLACK;
  letter-spacing: -0.01em;

  &::placeholder {
    color: $TERTIARY;
  }

  &:focus,
  &:active {
    border-color: darken($BORDER, 8)
  }
}

.outlined-textarea {
  display: block;
  width: 100%;
  min-height: 168px;
  padding: 14px 16px;
  border: 1px solid $BORDER;
  border-radius: 8px;
  background-color: $WHITE;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1px;
  color: $BLACK;

  &::placeholder {
    color: $TERTIARY;
  }

  &:focus,
  &:active {
    border-color: darken($BORDER, 8)
  }
}
