*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
strong,
em,
span,
div,
input,
textarea,
select,
option,
blockquote {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $BLACK;
  box-sizing: border-box;
}

ul,
ol,
li,
dd,
dt {
  margin-left: 0;
  padding-inline-start: 1rem;
}

a {
  text-decoration: none;
}