<div id="desktop_side">
</div>
<div class="wrap_safety_card">
	<div class="container with-topbar no-gutter" id="my_companions_show">
		<header class="topbar">
			<h1 class="topbar-title">
				펫 헬스케어 어드바이저
			</h1>
			<%# <a href="#" class="topbar-side-link">수정</a> %>
		</header>

		<div class="companion-card">
			<div class="companion-image">
			</div>
			<h2 class="companion-name">
				준응급상황 - 12시간 이내 내원 권고
			</h2>
		</div>

		<section class="companion-section">
			<h2>
				상황
			</h2>
			<div class="companion-content">
				<p>
					12시간 이내로 수의사의 도움을 받아야 하는 준응급상황입니다.
				</p>
			</div>
		</section>

		<section class="companion-section">
			<h2>어떻게 해야 하나요? 응급 처치를 할 수 있나요?</h2>
			<div class="companion-content">
				<ul>
					<li>평소 반려동물을 진료해주시는 수의사 선생님과 연락할 수 있다면 바로 연락해주세요.</li>
					<li>휴일이나 야간 시간 등으로 인해 연락할 수 없다면, 진료가 가능한 가장 가까운 시점 (12시간 이내)에 동물병원에 내원해 주세요.</li>
					<li>반려동물이 특별한 증상 없이 안정상태에 있더라도 동물병원에 갈 수 있을 때까지 눈을 떼지 말고 주의를 기울여 주세요. 중간에라도 다른 증상이 나타날 경우, 즉시 응급진료가 가능한 동물병원에서
						진료를 받으셔야 합니다.</li>
				</ul>
			</div>
		</section>

		<section class="companion-section">
			<h2>
				어떤 원인때문인가요? 어떤 점이 문제가 될 수 있나요?
			</h2>
			<div class="companion-content">
				<p>
					배변불능 또는 배뇨불능은 요로기 또는 하부소화기계의 심각한 문제를 암시합니다.
				</p>
				<p>
					특히 배뇨불능의 경우 즉시 대처하지 않으면 신장 기능의 치명적인 손상을 유발할 수 있어 의료진의 신속한 도움이 필요합니다.
				</p>
			</div>
		</section>

		<section class="companion-section">
			<h2>
				아래 자료를 수의사 선생님께 가져가시면 빠른 판단에 도움이 될 수 있습니다.
			</h2>
			<div class="companion-content">
				<dl class="companion-detail">
					<div>
						<dt>종 구분</dt>
						<dd>
							고양이
						</dd>
					</div>
					<div>
						<dt>주요증상 구분</dt>
						<dd>
							배변 혹은 배뇨불능
						</dd>
					</div>
					<div class="dd-list">
						<dt>주요증상 정보 (보호자 체크)</dt>
						<dd>
							1) 24시간 이내 평소와 같은 대소변 확인
						</dd>
						<dd>
							1) 24시간 이내 평소와 같은 대소변 확인
						</dd>
					</div>
					<div>
						<p>*이 정보는 펫트너의 펫 헬스케어 어드바이저 챗봇에서 제공합니다.</p>
					</div>
				</dl>
			</div>
		</section>

		<section class="companion-section">
			<h2>
				사용자 주의사항
			</h2>
			<div class="companion-content">
				<p>'펫 헬스케어 어드바이저' 알고리즘에 따라 제시되는 컨텐츠는 실제로 반려동물을 진료한 수의사의 판단이나 지시사항을 대신할 수 없습니다. 어드바이저의 안내는 특정 증상을 보이는 반려동물에 대해 보호자의 판단에 도움이
				되는 단순 정보를 제공할 뿐, 제작사는 보호자가 어드바이저의 안내에 따라 반려동물에게 취한 조치의 수의학적 안전성을 보증하거나 결과에 대한 책임을 지지 않습니다. 어드바이저의 내용과 수의사의 지시가 일치하지 않는
				경우 수의사의 지시를 따르시기 바랍니다. 어드바이저의 알고리즘에 따라 컨텐츠를 제시받은 이용자는 이 내용에 동의한 것으로 간주합니다.</p>
			</div>
		</section>
	</div>
</div>